:root {
    --color-primary: #106951;
    --real-black: #000000;
    --color-black: #292929;
    --color-white: #fff;
    --trans-white: rgba(255, 255, 255, .7);
    --trans-black: rgba(0, 0, 0, .7);
}

/** HOME PAGE FRONT */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html {
    background-color: var(--color-black);
}

body {}

/** loaders */
/** preloader */
#preloader {
    background-color: var(--color-white);
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 99999;
}

#status {
    width: 400px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
}

#status img {
    width: 100%;
}

/** ajax loader */
#ajax_loader{
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#ajax_loader .ajax_background{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, .7);
    z-index: 10;
}
#ajax_loader .ajax_img_loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#ajax_loader .ajax_img_loader svg{
    width: 100px;
    height: 100px;
    z-index: 11;
}


.wrapper {
    background-image: url('../img/fondo_eco.png');
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 101px 0px 10px 0px;
    background-position: center;
    background-size: cover;
}


/** MENU */
.header-menu {
    width: 100%;
    background-color: var(--color-white);
    margin-bottom: 100px;
    box-shadow: 0px 1px 10px var(--real-black);
}

.header-menu .band {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.top-logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-logo .hamburger_btn{
    text-align: center;
}

.logo {
    height: 115px;
    width: 250px;
    padding: 20px 0px;
    margin: 0px auto !important;
}

.logo img {
    width: 100%;
    filter: drop-shadow(1px 1px 3px var(--trans-black));
}
.container.brand .navbar{
    position: relative;
}
.navbar .navbar-toggler{
    height: 50px;
    width: 60px;
    border: 1px solid #000000;
}
.navbar .navbar-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbarEcoContent ul.navbar-nav li.nav-item a.nav-link{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    transition: all .35s ease-in-out;
}

#navbarEcoContent ul.navbar-nav li.nav-item a.nav-link:hover{
    background-color: #e9ecef;
    transition: all .35s ease-in-out;
}

#navbarEcoContent ul.navbar-nav li.nav-item a.nav-link::after {
    border: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    border: none;
    width: 270px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item{
    word-wrap: break-word;
    white-space: normal;
    font-size: 14px;
    transition: all .35s ease-in-out;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover{
    transition: all .35s ease-in-out;
}
/** MENU */

/** FORMULARIO PAGINA PRINCIPAL */
.form-wrapper h1 {
    color: var(--color-white);
}

.form-wrapper p {
    color: var(--color-white);
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.form-wrapper .form {
    padding: 10px 0px;
}
#formid .form-control.error{
    border: 1px solid red;
}
#formid .input-group label.error{
    color: white;
    margin: 6px 0px 6px 6px;
    text-shadow: 1px 0px 4px red, -1px 0px 3px red;
}

.btn.btn-light {
    padding-left: 20px;
    padding-right: 20px;
}

/** FIN FORMULARIO*/

footer {
    background-color: var(--color-black);
}

.fotter-center {
    padding: 0px 15px;
}

.footer-top {
    padding-top: 20px;
}

.footer-logo {
    width: 100%;
    text-align: center;
}

.footer-logo img {
    width: 70%;
    filter: drop-shadow(1px 1px 3px var(--trans-white));
}

.footer-top h3 {
    color: var(--color-white);
    text-align: center;
    margin: 15px 0px;
    font-size: 16px;
}

.footer-top ul li {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    text-align: center;
    font-size: 14px;
}

.footer-top ul li a {
    text-align: center;
    color: var(--color-white);
    font-size: 14px;
}

.footer-bottom p {
    color: var(--color-white);
    text-align: center;
    font-size: 14px;
}

.footer-bottom .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-bottom .social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.footer-bottom .social ul li {
    display: inline-block;
    margin: 0px 10px;
}

.footer-bottom .social ul li a {
    float: left;
    color: var(--color-white);
    text-align: center;
}

.footer-bottom .social ul li a:hover svg {
    border: 2px solid var(--color-white);
    color: var(--real-black);
    background-color: var(--color-white);
    transition: .35s all ease-in-out;
}

.footer-bottom .social ul li a svg {
    transition: .35s all ease-in-out;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid var(--color-white);
    background-color: var(--real-black);
}

.footer-bottom p a {
    color: var(--color-white);
}

/* Responsive */
@media (max-width: 575px) {
    .wrapper{
        padding: 0px 0px 10px 0px;
    }

    .container.band {
        flex-direction: column;
        padding-bottom: 5px;
    }

    .top-logo .logo{
        margin: 0px 0px !important;
        width: 180px;
        height: 75px;
    }

    .top-logo .logo img{width: 100%;}

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15);
        width: 100%;
    }
    .text-eco,
    .form {
        margin: 0px !important;
    }

}

@media (min-width: 576px) {
    .wrapper{
        padding: 0px 0px 10px 0px;
    }

    .container.band {
        flex-direction: column;
        padding-bottom: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .top-logo{
        flex-direction: row;
        justify-content: space-around;
        height: 90px;
    }

    .top-logo .logo{
        margin: 0px 0px !important;
        width: 203px;
        height: 75px;
    }

    .top-logo .hamburger_btn{
        display: flex;
        align-items: center;
    }

    .navbar .navbar-nav .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15);
        width: 100%;
    }

    .footer-logo {
        width: 100%;
        text-align: center;
    }

    .footer-logo img {
        width: 50%;
    }

    .footer-bottom .social ul {
        width: 450px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .wrapper{
        padding: 100px 0px 10px 0px;
    }

    .container.band {
        flex-direction: column;
        padding-bottom: 15px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .top-logo{
        flex-direction: row;
        justify-content: space-around;
        height: 92px;
    }

    .top-logo .logo{
        margin: 0px 0px !important;
    }

    .top-logo .hamburger_btn{
        display: flex;
        align-items: center;
    }

    .footer-top {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .footer-logo {
        width: 260px;
        margin: 0px 20px 0px 0px;
    }

    .footer-logo img {
        width: 100%;
    }

    .footer-nav,
    .footer-info {
        width: 50%;
    }

    .footer-top h3 {
        margin: 20px 10px 10px;
        font-size: 24px;
        text-align: left;
    }

    .footer-top ul {
        margin: 0px 10px;
    }

    .footer-top ul li {
        text-align: left;
        font-size: 18px;
    }

    .footer-top ul li a {
        text-align: left;
        font-size: 18px;
    }

    .footer-bottom p {
        font-size: 18px;
    }

    .footer-bottom .social ul li a svg {
        width: 40px;
        height: 40px;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .wrapper{
        padding: 100px 0px 10px 0px;
    }

    .container.band {
        max-width: 960px;
        margin: 0px auto;
        padding-bottom: 5px;
        flex-direction: row;
    }

    .container.band .navbar{
        width: 100%;
        justify-content: space-around;
    }

    .top-logo{
        flex-direction: row;
        justify-content: space-around;
        width: 200px;
        height: 92px;
    }

    .top-logo .logo{
        margin: 0px 0px !important;
        width: 200px;
        height: 92px;
    }

    .top-logo .hamburger_btn{
        display: flex;
        align-items: center;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        border: none;
        width: 270px;
    }

    .footer-top {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .footer-logo {
        width: 260px;
        margin: 0px 20px 0px 0px;
    }

    .footer-logo img {
        width: 100%;
    }

    .footer-nav,
    .footer-info {
        width: 50%;
    }

    .footer-top h3 {
        margin: 20px 10px 10px;
        font-size: 18px;
        text-align: left;
    }

    .footer-top ul {
        margin: 0px 10px;
    }

    .footer-top ul li {
        text-align: left;
        font-size: 16px;
    }

    .footer-top ul li a {
        text-align: left;
        font-size: 16px;
    }

    .footer-bottom p {
        font-size: 16px;
    }

    .footer-bottom .social ul li a svg {
        width: 40px;
        height: 40px;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .wrapper{
        padding: 100px 0px 10px 0px;
    }

    .container.band {
        max-width: 1140px;
        margin: 0px auto;
        flex-direction: row;
        padding-bottom: 0px;
    }

    .top-logo{
        width: 250px;
        height: 115px;
    }

    .top-logo .logo{
        margin: 0px 0px !important;
        width: 250px;
        height: 115px;
    }

    .top-logo .logo img{width: 100%;}

    #navbarEcoContent ul.navbar-nav li.nav-item a.nav-link{
        font-weight: bold;
        font-size: 16px;
    }
}

/*****
* Login Page
*******************************************************************************/
.login-logo img{
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.login-page, .register-page, .forgot-pass-page {
    background: var(--color-primary);
}

.login-page {
    min-height: 100vh;
    position: relative;
}

.login-page .blur-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(5px);
}

.login-page .login-box {
    background-color:var(--color-white);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.login-page .login-box .card {
    box-shadow: none;
}

.login-page .login-box .input-field {
    border-radius: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--trans-black);
}

.login-page .login-box input {
    border: none;
    outline: none;
    box-shadow: none;
}

/*
* Forgot password
*/
.forgot-pass-page {
    min-height: 357.733px;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}

.forgot-pass-box {
    width: 360px;
    margin: 0 auto;
}

.forgot-pass-box, .register-box-msg {
    margin: 0;
    padding: 0 20px 20px;
    text-align: center;
}

.forgot-pass-page .forgot-pass-card-body {
    background: var(--color-white);
    border-top: 0;
    color: #666;
    padding: 20px;
}

:is(.login-page, .forgot-pass-page) .btn-primary {
    background-color: var(--real-black);
    border-color: var(--real-black);
    border-radius: 50px;
}

:is(.login-page, .forgot-pass-page) .btn-primary:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.forgot-pass-page .btn-link {
    color: var(--real-black);
}

.forgot-pass-page .btn-link:hover {
    color: var(--color-primary);
}

.login-page #btn-forgot-pass{
    background-color: var(--color-white);
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.login-page #btn-forgot-pass:hover{
    background-color: var(--color-white);
    border-color: var(--color-primary);
    color: var(--real-black);
}


